pandas==1.4.3
requests==2.28.1
unicorn-binance-websocket-api==1.41.0
unicorn-binance-rest-api==1.5.0
unicorn-binance-trailing-stop-loss==0.8.0
shared-memory-dict==0.7.2
numpy==1.22.1
setuptools==65.5.1
urllib3==1.26.11
paramiko~=3.0.0